.BadgesList {
  &__container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 17px 35px;
  }


  &__subtitle {
    margin: 0;
    text-align: right;
  }

  &__items {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
}

.Badge {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 2px 12px;
  font-size: 1.4rem;
}

.square {
  border-radius: 4px;
}

.pill {
  border-radius: 12px;
}