button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 16px;
  box-shadow: $color-light-grey 0px 1px 4px;
  font-family: $font-main;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.2rem;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: all $transition;
}
