.grey {
  background: $color-bcg-grey;
  border: 1px solid $color-bcg-grey;
  color: $color-text-grey;
}

.red {
  background: $color-bcg-red;
  border: 1px solid $color-bcg-red;
  color: $color-text-red;
}

.green {
  background: $color-bcg-green;
  border: 1px solid $color-bcg-green;
  color: $color-text-green;
}

.yellow {
  background: $color-bcg-yellow;
  border: 1px solid $color-bcg-yellow;
  color: $color-text-yellow;
}

.blue {
  background: $color-bcg-blue;
  border: 1px solid $color-bcg-blue;
  color: $color-text-blue;
}

.indigo {
  background: $color-bcg-indigo;
  border: 1px solid $color-bcg-indigo;
  color: $color-text-indigo;
}

.purple {
  background: $color-bcg-purple;
  border: 1px solid $color-bcg-purple;
  color: $color-text-purple;
}

.pink {
  background: $color-bcg-pink;
  border: 1px solid $color-bcg-pink;
  color: $color-text-pink;
}

.white {
  background: $color-light-main;
  border: 1px solid $color-text-grey;
  color: $color-text-grey;
}

.black {
  background: $color-dark-secondary;
  border: 1px solid $color-dark-secondary;
  color: $color-light-grey;
}