$font-main: 'Inter', sans-serif;
$font-heading: 'Permanent Marker', cursive;

$color-dark-main:#111827;
$color-dark-secondary: #262626;
$color-light-main:#F9FAFB;
$color-text-grey: #1F2937;
$color-light-grey: #C7C7C7;
$color-bcg-grey: #F3F4F6;
$color-text-red: #991B1B;
$color-bcg-red: #FEE2E2;
$color-text-green: #065F46;
$color-bcg-green: #D1FAE5;
$color-text-yellow: #92400E;
$color-bcg-yellow: #FEF3C7;
$color-text-blue: #1E40AF;
$color-bcg-blue: #DBEAFE;
$color-text-indigo: #3730A3;
$color-bcg-indigo: #E0E7FF;
$color-text-purple: #5B21B6;
$color-bcg-purple: #EDE9FE;
$color-text-pink: #9D174D;
$color-bcg-pink: #FCE7F3;



$transition: 1s ease-in-out;
