@import './normalize';
@import './vars';
@import './mixins';
@import './placeholders';
@import './typography';
@import './buttons';
@import './colors';


@import './App.scss';
@import '../Components/Badges/Badge.scss';
@import '../Components/Banners/Banner.scss';
@import '../Components/Cards/Card.scss';
@import '../Components/Testimonials/Testimonial.scss';
@import '../Components/Testimonials/TestimonialWithoutImage.scss';
@import '../Components/Tooltips/Tooltip.scss';
@import '../Components/Toasts/Toasts.scss';


.page {
  font-size: 10px;
  box-sizing: border-box;
  font-family: $font-main;
  color: $color-dark-main;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section {
  margin-bottom: 100px;
  width: 100%;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}